extensions:
	file_storage: SixtyEightPublishers\FileStorage\Bridge\Nette\DI\FileStorageExtension(%cwd%)
	image_storage: SixtyEightPublishers\ImageStorage\Bridge\Nette\DI\ImageStorageExtension

file_storage:
	storages:
		images:
			config:
				base_path: images
			filesystem:
				adapter: League\Flysystem\InMemory\InMemoryFilesystemAdapter

image_storage:
	storages:
		images:
			source_filesystem:
				adapter: League\Flysystem\InMemory\InMemoryFilesystemAdapter
			no_image:
				default: nomiage/noimage.png
				test: test/noimage.png
			no_image_patterns:
				test: '^test\/'
