extensions:
	file_storage: SixtyEightPublishers\FileStorage\Bridge\Nette\DI\FileStorageExtension(%cwd%)
	image_storage: SixtyEightPublishers\ImageStorage\Bridge\Nette\DI\ImageStorageExtension

file_storage:
	storages:
		images:
			config:
				base_path: images
			filesystem:
				adapter: League\Flysystem\InMemory\InMemoryFilesystemAdapter
		images2:
			config:
				base_path: images2
			filesystem:
				adapter: League\Flysystem\InMemory\InMemoryFilesystemAdapter

image_storage:
	storages:
		images:
			source_filesystem:
				adapter: League\Flysystem\InMemory\InMemoryFilesystemAdapter
			route: yes
		images2:
			source_filesystem:
				adapter: League\Flysystem\InMemory\InMemoryFilesystemAdapter
			route: yes

services:
	router: Nette\Application\Routers\RouteList
